.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    /* 위에 이 속성은 css에게 padding을 무시해달라는 것 = box 사이즈 변경하지 말아줘 */
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    /* 1개 안읽은 표시를 absolute로 해야하기 때문에 부모 div를 relative로 설정 */
    position: relative;
    color: #2e363e;
}

@keyframes notificationAnimation {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-5px) rotateY(360deg);
    }
    100% {
        transform: none;
    }
}

.nav__notification {
    position: absolute;
    left: 20px;
    bottom: 15px;
    z-index: 1;
    animation: notificationAnimation 2s ease-in-out infinite;
}

.nav__more {
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 30px;
    bottom: 25px;
    z-index: 1;
}

@keyframes appearBtnAnimation {
    from {
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.nav__btn {
    /* 애니메이션 딜레이 시켰기 때문에 화면에서 보이지 않게 시작하려고 여기다 transform 줌 */
    transform: translateY(50px);
    opacity: 0;
    animation: appearBtnAnimation 0.3s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
    animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
    animation-delay: 0.5s;
}
.nav__btn:last-child {
    animation-delay: 0.8s;
}
