.user-component {
    justify-content: space-between;
    margin-bottom: 15px;
}

.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__avatar {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
}

.user-component__title {
    font-weight: 600;
    font-size: 22px;
}

.user-component__subtitle {
    margin-top: 8px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl {
    width: 80px;
    height: 80px;
}

.user-component__avatar--sm {
    width: 60px;
    height: 60px;
    border-radius: 25px;
}

.user-component__title--not-bold {
    font-weight: 200;
    font-size: 20px;
}

.user-component__column:last-child {
    color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__time {
    display: block;
    margin-bottom: 10px;
}

.red_point {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid tomato;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13px;
    color: tomato;

    position: relative;
    top: 15px;
    right: 18px;
}
